@import "tailwindcss";


* {
  font-family: 'Outfit', sans-serif;
}

html,
body {
  @apply bg-white text-black transition-colors duration-500;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html.dark,
.dark body {
  @apply bg-neutral-900 text-white;
}

main {
  @apply min-h-screen flex flex-col items-center justify-center;
}
